@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div align="center" >
    <md-card class="main-card">{{message}}</md-card>
    

    <md-card class="main-card">
        <md-card-header>
            
            <md-card-title class="header-image"> Title </md-card-title>
             
        </md-card-header>
        
        <md-card-content>
            <p>
                
            </p>
        </md-card-content>
        
    </md-card>
</div>