@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


 
<my-app class="container" style="display: block;">
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <p align="center">
        <font size="2" color="green"> <b>Loading Calculator...</b>  </font>
    </p>
</my-app>

